{{ $title := .Title | lower }}
{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
<ul id="terms">
  {{ range $key, $value := .Data.Terms.ByCount }}
  {{ if ($value.Name) }}
  <li class="term">
    {{ if (compare.Eq $title "authors") }}
    {{ $author := index $.Site.Params.Author ($value.Name) }}
    <a
      href="{{ "authors_page" | relURL }}/{{ $value.Name | urlize }}"
      >
      <span> {{ $author.Name }} </span>
      <a
	href="{{ $title | relURL }}/{{ $value.Name | urlize }}">
	<span> ({{ $value.Count }})</span>
	Posts
      </a>
    </a>
    {{ else }}
    <a
      href="{{ $title | relURL }}/{{ $value.Name | urlize }}">
      <span>{{ $value.Name }}</span>
      <span> ({{ $value.Count }})</span>
    </a>
    {{ end }}
  </li>
  {{ end }}
  {{ end }}
</ul>
